.hero {
  transition: all 0.5s;
  width: 100%;
  z-index: -100;
  height: 325px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  color: $brand-lightgray;
  background-color: $brand-primary;
  .content {
    width: 255px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    h1 {
      font-size: 80px;
      font-weight: 600;
    }
    p {
      bottom: 10px;
      right: 0;
      position: absolute;
      font-size: 8px;
      font-weight: 300;
    }
    .abs {
      position: absolute;
      width: 100px;
      top: 13px;
      left: 22px;
    }
  }
  .items {
    width: 100%;
    height: 100%;
    position: relative;
    .abs {
      position: absolute;
      &:first-child {
        width: 120px;
        left: 0;
        bottom: 10px;
      }
      &:nth-child(2) {
        width: 80px;
        left: 35%;
        bottom: 17%;
      }
      &:nth-child(3) {
        width: 90px;
        right: 13%;
        top: 8%;
      }
      &:nth-child(4) {
        width: 70px;
        right: -5px;
        top: 28%;
      }
    }
  }
}

@media screen and (min-width: 820px) {
  .hero {
    height: 670px;
    .content {
      width: 470px;
      h1 {
        font-size: 150px;
      }
      p {
        font-size: 14px;
      }
      .abs {
        left: 30px;
        width: 200px;
      }
    }
    .items {
      .abs {
        &:first-child {
          width: 220px;
        }
        &:nth-child(2) {
          width: 130px;
        }
        &:nth-child(3) {
          width: 180px;
        }
        &:nth-child(4) {
          width: 130px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    height: 890px;
    .content {
      width: 720px;
      h1 {
        font-size: 230px;
      }
      p {
        font-size: 18px;
      }
      .abs {
        left: 50px;
        width: 310px;
      }
    }
    .items {
      .abs {
        &:first-child {
          width: 340px;
        }
        &:nth-child(2) {
          width: 210px;
        }
        &:nth-child(3) {
          width: 280px;
        }
        &:nth-child(4) {
          width: 210px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .hero {
    height: 1000px;
    .content {
      width: 785px;
      h1 {
        font-size: 250px;
      }
      p {
        font-size: 20px;
      }
      .abs {
        top: 30px;
        left: 60px;
        width: 320px;
      }
    }
    .items {
      .abs {
        &:first-child {
          width: 400px;
          bottom: 5%;
        }
        &:nth-child(2) {
          width: 250px;
          left: 40%;
          bottom: 15%;
        }
        &:nth-child(3) {
          width: 330px;
        }
        &:nth-child(4) {
          width: 250px;
        }
      }
    }
  }
}
