.popular {
  padding: 50px 20px;
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h3 {
      font-size: 18px;
      font-weight: 500;
      color: $brand-primary;
    }
    .btns {
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      button {
        transition: all 0.5s;
        font-size: 12px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        color: $brand-gray;
        background-color: $brand-lightgray;
        display: flex;
        align-items: center;
        justify-content: center;
        &:hover {
          background-color: $brand-shade;
        }
      }
    }
  }
  &-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }
}

@media screen and (min-width: 576px) {
  .popular {
    &-head {
      .btns {
        width: 70px;
        // button {
        //   font-size: ;
        //   width: ;
        //   height: ;
        // }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .popular {
    &-head {
      h3 {
        font-size: 20px;
      }
      .btns {
        width: 80px;
        button {
          font-size: 14px;
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .popular {
    &-head {
      h3 {
        font-size: 24px;
      }
      .btns {
        width: 90px;
        button {
          font-size: 16px;
          width: 35px;
          height: 35px;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .popular {
    &-head {
      h3 {
        font-size: 28px;
      }
      .btns {
        width: 100px;
        button {
          font-size: 18px;
          width: 40px;
          height: 40px;
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .popular {
    &-head {
      h3 {
        font-size: 32px;
      }
      .btns {
        width: 110px;
        button {
          font-size: 20px;
          width: 45px;
          height: 45px;
        }
      }
    }
  }
}
