@media screen and (max-width: 375px) {
  .footer {
    display: none;
  }
}

.footer {
  box-shadow: inset $brand-shadow;
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 0 20px;
    .navLinks {
      width: 100%;
      display: flex;
      justify-content: center;
      ul {
        color: $brand-gray;
        transition: 0.5s;
        display: flex;
        justify-content: space-around;
      }
      li:hover {
        transition: 0.5s;
        color: $brand-secondary;
      }
    }
    .socialLinks {
      display: flex;
      justify-content: space-around;
      ul {
        color: $brand-gray;
        display: flex;
        justify-content: space-around;
      }
      li:hover {
        transition: 0.5s;
        color: $brand-secondary;
      }
    }
    .copyright {
      color: $brand-gray;
      font-size: 12px;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (min-width: 375px) {
  .footer {
    height: 200px;
    &-logo {
      width: 100px;
    }
    .container {
      padding: 20px 20px;
    }
    .navLinks {
      ul {
        width: 250px;
        font-size: 14px;
      }
    }
    .socialLinks {
      ul {
        width: 140px;
        font-size: 20px;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .footer {
    height: 263px;
    &-logo {
      width: 125px;
    }
    .container {
      padding: 30px 20px;
    }
    .navLinks {
      ul {
        width: 275px;
        font-size: 16px;
      }
    }
    .socialLinks {
      ul {
        width: 165px;
        font-size: 22px;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    height: 325px;
    &-logo {
      width: 150px;
    }
    .container {
      padding: 40px 20px;
    }
    .navLinks {
      ul {
        width: 300px;
        font-size: 18px;
      }
    }
    .socialLinks {
      ul {
        width: 180px;
        font-size: 24px;
      }
    }
  }
}
