@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";
@import "./header.scss";
@import "./footer.scss";
@import "./carousel.scss";
@import "./login.scss";
@import "./add.scss";
@import "./hero.scss";
@import "./popular.scss";
@import "./recipeCard.scss";
@import "./recipe.scss";
@import "./profile.scss";
* {
  box-sizing: border-box;
  font: $font-stack;
}

.container {
  margin: 0 auto;
}

.card {
  @apply max-w-[300px] rounded-2xl bg-white;
}

.card-img {
  @apply w-full max-h-[300px] rounded-t-2xl;
}

.card-content {
  @apply w-full rounded-b-2xl;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/pattern.png");
}
