@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.container {
  @apply mx-auto
}

.card {
  @apply max-w-[300px] rounded-2xl bg-white;
}

.card-img {
  @apply w-full max-h-[300px] rounded-t-2xl;
}

.card-content {
  @apply w-full rounded-b-2xl;
}
