@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables.scss";
@import "./header.scss";

* {
  box-sizing: border-box;
  font: $font-stack;
}

.container {
  @apply mx-auto max-w-[1440px];
}

.card {
  @apply max-w-[300px] rounded-2xl bg-white;
}

.card-img {
  @apply w-full max-h-[300px] rounded-t-2xl;
}

.card-content {
  @apply w-full rounded-b-2xl;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/pattern.png");
}
