@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

.container {
  @apply mx-auto;
}

.card {
  @apply max-w-[300px] rounded-2xl bg-white;
}

.bg-cover {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/pattern.png");
}
