@media screen and (max-width: 375px) {
  .header {
    display: none;
  }
}

.header {
  background-color: $brand-white;
  z-index: 100;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: $brand-shadow;
  .container {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
  }
  &-logo {
    display: flex;
    align-self: center;
  }
  &-content {
    width: 100%;
    justify-content: end;
    display: flex;
  }
  form {
    display: none;
    align-items: center;
    .search {
      display: flex;
      position: relative;
    }
    input {
      border: none;
      display: flex;
      max-width: 400px;
      min-width: 300px;
      width: 100%;
      padding-left: 40px;
    }
    ::placeholder {
      font-size: 16px;
      color: rgb(200, 200, 200);
    }
    .search-icon {
      width: 40px;
      pointer-events: none;
      inset: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      color: $brand-primary;
      position: absolute;
    }
  }
  .menu,
  .profile {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      color: $brand-primary;
      transition: 0.5s;
      .icon {
        width: 50%;
        height: 50%;
      }
    }
    button:hover {
      background-color: rgb(235, 235, 235);
      color: $brand-secondary;
    }
  }
  .profile {
    position: relative;
    // .dropdown {
    // }
  }
  .menu {
    z-index: 1;
    position: static;
    &-links {
      border-radius: 25px;
      box-shadow: $brand-shadow;
      position: absolute;
      border: 1px solid $brand-lightgray;
      background-color: $brand-white;
      padding-left: 20px;
      padding-right: 20px;
      width: 100vw;
      right: 0;
      top: 70px;
      ul {
        color: $brand-gray;
        display: grid;
        li {
          border-top: 0.5px solid $brand-lightgray;
          height: 40px;
          display: flex;
          justify-content: center;
          align-items: center;
          &:first-child {
            border: none;
          }
        }
        li:hover {
          color: $brand-secondary;
          transition: 0.5s;
        }
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    height: 70px;
    &-logo {
      width: 100px;
    }
    form,
    nav {
      display: none;
    }
    &-content {
      gap: 20px;
    }
  }
  .menu,
  .profile {
    button {
      width: 35px;
      height: 35px;
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 85px;
    &-logo {
      width: 125px;
    }
    form {
      display: flex;
      input {
        max-width: 400px;
        height: 40px;
      }
    }
    &-content {
      gap: 30px;
    }
    .menu,
    .profile {
      button {
        width: 40px;
        height: 40px;
      }
      .dropdown {
        top: 58px;
      }
    }
    .menu {
      &-links {
        top: 85px;
        ul {
          li {
            height: 50px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 100px;
    &-logo {
      width: 150px;
    }
    form {
      display: flex;
      input {
        max-width: 500px;
        height: 45px;
      }
    }
    .menu button {
      display: none;
    }
    nav {
      display: flex;
      ul {
        font-size: 18px;
        color: $brand-primary;
        transition: 0.5s;
        display: flex;
        justify-content: space-around;
        width: 300px;
      }
      li:hover {
        transition: 0.5s;
        color: $brand-secondary;
      }
    }
    &-content {
      gap: 40px;
    }
    .profile {
      order: 1;
      button {
        width: 45px;
        height: 45px;
      }
      .dropdown {
        top: 70px;
      }
    }
  }
}
