.header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
  background-color: $brand-primary;
  border-bottom: 1px solid $brand-gray;
  .content {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    nav {
      width: 400px;
      ul {
        font-size: 16px;
        color: $brand-shade;
        display: flex;
        justify-content: space-between;
        li {
          position: relative;
          padding: 0 10px;
          margin: 0 10px;
        }
        li:hover {
          color: $brand-lightgray;
        }
        li:after {
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: ".";
          color: transparent;
          background: $brand-lightgray;
          height: 1.4px;
        }
        li:hover:after {
          width: 100%;
        }
        li,
        li:after,
        li:before {
          transition: all 0.5s;
        }
      }
    }
    .hello {
      color: $brand-lightgray;
    }
    button.login {
      font-size: 14px;
      width: 100px;
      border-radius: 5px;
      padding: 5px 10px;
      border: 1px solid $brand-white;
      color: $brand-white;
      &:hover {
        transition: all 0.5s;
        color: $brand-primary;
        background-color: $brand-lightgray;
      }
    }
    .popup {
      button {
        color: $brand-lightgray;
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .header {
    height: 70px;
    .container {
      padding: 0 20px;
      .logo svg {
        width: 90px;
      }
      nav {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 80px;
    .logo svg {
      width: 100px;
    }
    nav {
      display: block;
      width: 300px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header {
    height: 90px;
    .logo svg {
      width: 110px;
    }
    nav {
      width: 400px;
    }
  }
}

@media screen and (min-width: 1240px) {
}
