.login {
  &-content {
    .social-links {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
  .modal-header {
    h1 {
      color: $brand-secondary;
      font-size: 24px;
    }
  }
  .modal-footer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    Button {
      border: none;
      width: 100%;
      margin: 0;
      color: $brand-white;
      background-color: $brand-primary;
    }
    p {
      font-size: 16px;
      span {
        color: $brand-primary;
        cursor: pointer;
      }
    }
  }
  &-inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: space-between;
    width: 100%;
    .input {
      width: 310px;
    }
  }
}

@media screen and (min-width: 375px) {
  .login {
    // width: 335px;
    &-content {
      p {
        font-size: 16px;
      }
      ul {
        width: 225px;
      }
    }
    &-inputs {
      .input {
        width: 100%;
      }
    }
  }
}
@media screen and (min-width: 768px) {
  .login {
    // width: 570px;
    &-content {
      p {
        font-size: 18px;
      }
    }
    &-inputs {
      .input {
        width: 49%;
      }
    }
    .modal-header {
      h1 {
        font-size: 28px;
      }
    }
  }
}
@media screen and (min-width: 1024px) {
  .login {
    // width: 680px;
    &-content {
      p {
        font-size: 20px;
      }
    }
    &-content {
      ul {
        width: 415px;
      }
    }
    .modal-header {
      h1 {
        font-size: 32px;
      }
    }
  }
}
