.popular {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 800px;
  padding: 0 100px;
  &-head {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 32px;
      font-weight: 600;
      color: $brand-primary;
    }
    .btns {
      width: 110px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      button {
        font-size: 20px;
        background-color: $brand-lightgray;
        color: $brand-gray;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
      button:hover {
        transition: all 0.5s;
        background-color: $brand-shade;
      }
    }
  }
  &-grid {
    // justify-content: space-between;
    gap: 18px;
    display: flex;
    flex-wrap: wrap;
  }
}
