.profile {
  // COVER
  .cover {
    width: 100%;
    height: 350px;
    img {
      filter: brightness(50%);
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }

  // CONTENT
  .content {
    position: relative;
    width: 100%;
    &-header {
      height: 80px;
      display: flex;
      align-items: center;
      justify-content: center;
      box-shadow: $brand-shadow;
      background-color: $brand-lightgray;
      ul {
        font-size: 20px;
        color: $brand-primary;
        max-width: 500px;
        width: 100%;
        display: flex;
        justify-content: space-around;
      }
    }
    &-body {
      display: flex;
      justify-content: space-between;
      .side {
        position: relative;
        width: 400px;
        &-box {
          position: absolute;
          padding: 40px;
          box-shadow: $brand-shadow;
          border-radius: 5px;
          background-color: $brand-white;
          top: -150px;
          left: 55px;
          z-index: 100;
          width: 285px;
          height: 375px;
          img {
            border-radius: 50%;
          }
          .profile-text {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
            h2 {
              font-size: 24px;
              font-weight: 700;
            }
          }
        }
        &-bio {
          font-size: 18px;
          padding: 30px;
          color: $brand-gray;
          margin-top: 250px;
        }
      }
    }
    .recipes {
      padding: 50px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
      width: 75%;
    }
  }

  // SIDE
  &-side {
    display: flex;
    justify-content: space-between;
    max-width: 350px;
    width: 100%;
  }
}
