.recipeCard {
  margin: 5px 0;
  border-radius: 10px;
  box-shadow: $brand-shadow;
  background-color: $brand-white;
  picture img {
    border-radius: 10px 10px 0 0;
    width: 100%;
  }
  .text {
    border-radius: 0 0 10px 10px;
    width: 100%;
    .title {
      align-items: center;
      justify-content: center;
      display: flex;
      justify-content: space-between;
      color: $brand-primary;
    }
    p {
      color: $brand-gray;
    }

    button.more {
      color: $brand-secondary;
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: end;
      font-style: italic;
    }
  }
}

@media screen and (min-width: 375px) {
  .recipeCard {
    width: 150px;
    height: 250px;
    .text {
      padding: 5px 10px;
      height: 110px;
      h4 {
        font-size: 16px;
        font-weight: 500;
      }
      p {
        display: none;
      }
      button svg {
        width: 16px;
        height: 16px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .recipeCard {
    width: 225px;
    height: 320px;
    .text {
      padding: 10px 15px;
      height: 140px;
      h4 {
        font-size: 18px;
        font-weight: 500;
      }
      button svg {
        width: 20px;
        height: 20px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .recipeCard {
    width: 300px;
    height: 450px;
    .text {
      padding: 15px 20px;
      height: 145px;
      h4 {
        font-size: 24px;
        font-weight: 500;
      }
      p {
        display: block;
        font-size: 14px;
      }
      button svg {
        width: 24px;
        height: 24px;
      }
    }
  }
}
