.recipeCard {
  margin: 5px 0;
  width: 320px;
  height: 475px;
  border-radius: 10px;
  box-shadow: $brand-shadow;
  background-color: $brand-white;
  picture img {
    border-radius: 10px 10px 0 0;
    width: 100%;
    height: 320px;
  }
  .text {
    border-radius: 0 0 10px 10px;
    padding: 15px 20px;
    width: 100%;
    height: 145px;
    .title {
      align-items: center;
      justify-content: center;
      display: flex;
      justify-content: space-between;
      color: $brand-primary;
      h4 {
        font-size: 26px;
        font-weight: 500;
      }
    }
    p {
      color: $brand-gray;
      font-size: 14px;
    }
    button svg {
      width: 24px;
      height: 24px;
    }
    button.more {
      margin-top: 10px;
      width: 100%;
      display: flex;
      justify-content: end;
      font-style: italic;
    }
  }
}
