$font-stack: Poltawski Nowy, serif;

$brand-primary: #36266c;
$brand-primary-light: #cdbdff;
$brand-secondary: #287b22;
$brand-secondary-light: #c7ffc3;
$brand-white: #ffffff;
$brand-lightgray: #f8f8f8;
$brand-shade: #dadada;
$brand-gray: #545454;

$brand-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;