$font-stack: Poltawski Nowy, serif;

// $brand-primary: #96b60b;
// $brand-secondary: #ff6600;
// $brand-lightgray: #f2f2f2;
// $brand-gray: #606060;
// $brand-white: #ffffff;

$brand-primary: #36266c;
$brand-secondary: #287b22;
$brand-white: #ffffff;
$brand-lightgray: #f8f8f8;
$brand-shade: #dadada;
$brand-gray: #545454;

$brand-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;