$brand-primary: #36266c;
$brand-primary-light: #cdbdff;
$brand-secondary: #287b22;
$brand-secondary-light: #e8ffe7;
$brand-white: #ffffff;
$brand-lightgray: #f8f8f8;
$brand-shade: #dadada;
$brand-yellow: #ffdf41;
$brand-red: rgb(255, 61, 61);
$brand-gray: #545454;

$brand-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
