.footer {
  // margin-top: 200px;
  height: 230px;
  background-color: $brand-primary;
  .container {
    height: 100%;
    padding: 60px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &-head {
    display: flex;
    justify-content: space-between;
    nav {
      width: 400px;
      ul {
        font-size: 16px;
        color: $brand-shade;
        display: flex;
        justify-content: space-between;
        li {
          position: relative;
          padding: 0 10px;
          margin: 0 10px;
        }
        li:hover {
          color: $brand-lightgray;
        }
        li:after {
          position: absolute;
          bottom: -5px;
          left: 0;
          right: 0;
          margin: auto;
          width: 0%;
          content: ".";
          color: transparent;
          background: $brand-lightgray;
          height: 1.4px;
        }
        li:hover:after {
          width: 100%;
        }
        li,
        li:after,
        li:before {
          transition: all 0.5s;
        }
      }
    }
  }
  &-foot {
    color: $brand-shade;
    display: flex;
    justify-content: space-between;
    .socialLinks {
      ul {
        font-size: 20px;
        width: 130px;
        justify-content: space-between;
        display: flex;
        li:hover {
          transition: all 0.5s;
          color: $brand-white;
        }
      }
    }
  }
}
