.header {
  * {
    transition: all 0.5s;
  }
  top: 0;
  height: 75px;
  z-index: 1000;
  display: flex;
  position: sticky;
  background-color: $brand-primary;
  border-bottom: 1px solid $brand-gray;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    .logo svg {
      width: 80px;
    }
    .search {
      display: none;
      border: 1px solid $brand-shade;
      border-radius: 10px;
      input {
        border: none;
        font-size: 14px;
        &:first-child {
          background-color: transparent;
          &::placeholder {
            opacity: 50%;
            color: $brand-lightgray;
          }
        }
        &:nth-child(2) {
          border-left: 1px solid $brand-shade;
          width: 70px;
          height: 40px;
          color: $brand-shade;
          transition: all 0.5s;
          &:hover {
            color: $brand-lightgray;
            font-weight: 500;
          }
        }
      }
    }
    nav {
      display: none;
    }
  }
  .options {
    color: $brand-lightgray;
    display: flex;
    gap: 20px;
    align-items: center;
    .menu {
      &-btn {
        display: flex;
      }
    }
  }
}

// RESPONSIVE
@media screen and (min-width: 576px) {
  .header {
    height: 80px;
    .container {
      .logo svg {
        width: 85px;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .header {
    height: 85px;
    .container {
      padding: 0 25px;
      .logo svg {
        width: 90px;
      }
    }
  }
}

// TABLET-MAX
@media screen and (min-width: 820px) {
  .header {
    height: 90px;
    .container {
      .logo svg {
        width: 100px;
      }
      .search {
        display: block;
      }
      nav {
        display: block;
        width: 350px;
        ul {
          font-size: 16px;
          color: $brand-shade;
          display: flex;
          justify-content: space-between;
          li,
          li:after,
          li:before {
            transition: all 0.5s;
          }
          li {
            position: relative;
            padding: 0 5px;
            margin: 0 5px;
            &:hover {
              color: $brand-lightgray;
              &:after {
                width: 100%;
              }
            }
            &:after {
              position: absolute;
              bottom: -5px;
              left: 0;
              right: 0;
              margin: auto;
              width: 0%;
              content: ".";
              color: transparent;
              background: $brand-lightgray;
              height: 1.2px;
            }
          }
        }
      }
    }
    .options {
      .menu-btn {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .header {
    height: 95px;
    .container {
      padding: 0 30px;
      .logo svg {
        width: 110px;
      }
      nav {
        width: 400px;
        ul {
          font-size: 18px;
          li {
            padding: 0 8px;
            margin: 0 8px;
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .header {
    height: 100px;
    .container {
      padding: 0 35px;
      .logo svg {
        width: 115px;
      }
      nav {
        width: 450px;
        ul {
          font-size: 18px;
          li {
            padding: 0 10px;
            margin: 0 10px;
          }
        }
      }
    }
  }
}

nav.menu {
  margin: 0 auto;
  display: block;
  width: 350px;
  ul {
    font-size: 16px;
    color: $brand-primary;
    display: flex;
    justify-content: space-between;
    li,
    li:after,
    li:before {
      transition: all 0.5s;
    }
    li {
      position: relative;
      padding: 0 5px;
      margin: 0 5px;
      &:hover {
        color: $brand-gray;
        &:after {
          width: 100%;
        }
      }
      &:after {
        position: absolute;
        bottom: -5px;
        left: 0;
        right: 0;
        margin: auto;
        width: 0%;
        content: ".";
        color: transparent;
        background: $brand-secondary;
        height: 1.2px;
      }
    }
  }
}
