.profile {
  .cover {
    height: 500px;
    width: 100%;
    img {
      object-fit: cover;
      filter: brightness(65%);
      width: 100%;
      height: 100%;
    }
  }
  &-body {
    min-height: 60vh;
    nav {
      width: 100%;
      height: 80px;
      background-color: $brand-lightgray;
      box-shadow: $brand-shadow;
      display: flex;
      align-items: center;
      .container {
        ul {
          width: 400px;
          font-size: 16px;
          color: $brand-gray;
          margin-left: 350px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          li,
          li:after,
          li:before {
            transition: all 0.5s;
          }
          li {
            position: relative;
            padding: 0 5px;
            margin: 0 5px;
            &:hover {
              color: $brand-primary;
              &:after {
                width: 100%;
              }
            }
            &:after {
              position: absolute;
              bottom: -5px;
              left: 0;
              right: 0;
              margin: auto;
              width: 0%;
              content: ".";
              color: transparent;
              background: $brand-secondary;
              height: 1.5px;
            }
          }
        }
      }
    }
  }
  .container {
    display: flex;
    gap: 50px;
    .info {
      position: relative;
      width: 300px;
      &-box {
        background-color: $brand-white;
        top: -150px;
        padding: 50px 25px;
        height: 375px;
        border-radius: 10px;
        position: absolute;
        box-shadow: $brand-shadow;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        img {
          object-fit: cover;
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
        h3 {
          font-size: 24px;
          font-weight: 500;
        }
        &-detail {
          font-size: 16px;
          color: $brand-gray;
        }
      }
    }
    .children {
      padding: 50px;
      width: 100%;
    }
  }

  .recipes {
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    .recipeCard {
      margin: 0;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

// SETTINGS
.settings {
  &-body {
    .profile-image {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      label {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 60px;
        border: 1px solid $brand-lightgray;
        right: 45px;
        font-size: 24px;
        border-radius: 50%;
        color: $brand-gray;
        background-color: $brand-white;
      }
    }
  }
  .profile-information {
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding: 25px;
    .detail {
      width: 300px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        width: 80%;
        margin-right: 20px;
        border-radius: 5px;
      }
      .password-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      h5 {
        font-weight: 600;
        color: $brand-secondary;
      }
    }
  }
  h2 {
    font-size: 24px;
    font-weight: 500;
    color: $brand-secondary;
    margin-bottom: 20px;
  }
  &-body {
    display: flex;
    gap: 100px;
  }
  hr {
    margin: 20px 0;
  }
  button.save {
    color: $brand-primary;
    border: 1px solid $brand-primary;
    background-color: $brand-primary-light;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 15px;
  }
}
