.profile {
  &-image {
    picture {
      position: relative;
      label.edit {
        position: absolute;
        right: 10px;
        bottom: 10px;
      }
    }
  }
  .children {
    padding: 15px;
  }
  .cover {
    height: 400px;
    width: 100%;
    img {
      object-fit: cover;
      filter: brightness(65%);
      width: 100%;
      height: 100%;
    }
  }
  &-body {
    nav {
      width: 100%;
      height: 70px;
      background-color: $brand-lightgray;
      box-shadow: $brand-shadow;
      display: flex;
      align-items: center;
    }
    .content {
      ul {
        width: 330px;
        font-size: 12px;
        color: $brand-gray;
        display: flex;
        align-items: center;
        justify-content: space-between;
        li,
        li:after,
        li:before {
          transition: all 0.5s;
        }
        li {
          position: relative;
          padding: 0 5px;
          margin: 0 5px;
          &:hover {
            color: $brand-primary;
            &:after {
              width: 100%;
            }
          }
          &:after {
            position: absolute;
            bottom: -5px;
            left: 0;
            right: 0;
            margin: auto;
            width: 0%;
            content: ".";
            color: transparent;
            background: $brand-secondary;
            height: 1.5px;
          }
        }
      }
    }
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    .info {
      position: relative;
      width: 300px;
      display: flex;
      justify-content: center;
      &-box {
        position: absolute;
        top: -460px;
        background-color: $brand-white;
        padding: 50px 25px;
        border-radius: 10px;
        box-shadow: $brand-shadow;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        img {
          object-fit: cover;
          width: 150px;
          height: 150px;
          border-radius: 50%;
        }
        h3 {
          font-size: 24px;
          font-weight: 500;
        }
        &-detail {
          font-size: 16px;
          color: $brand-gray;
        }
      }
    }
    .children {
      width: 100%;
      .recipe-list {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        .recipeCard {
          margin: 0;
          box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }
      }
    }
  }
}

@media screen and (min-width: 576px) {
  .profile {
    &-body {
      .content {
        ul {
          width: 400px;
        }
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .profile {
    .cover {
      height: 500px;
    }
    &-body {
      .container {
        flex-direction: row;
      }
      .info {
        height: 40vh;
        display: flex;
        &-box {
          h3 {
            font-size: 24px;
          }
          &-detail {
            font-size: 16px;
            color: $brand-gray;
          }
        }
      }
      nav {
        height: 80px;
        .container {
          gap: 50px;
          flex-direction: row;
          ul {
            width: 400px;
            font-size: 16px;
            margin-left: 350px;
          }
        }
      }
      .children {
        width: 100%;
        .recipe-list {
          display: flex;
          flex-wrap: wrap;
          gap: 10px;
          .recipeCard {
            margin: 0;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
          }
        }
      }
    }
  }
}

// SETTINGS
.settings {
  height: 100%;
  min-height: 80vh;
  &-body {
    display: flex;
    flex-wrap: wrap;
    .profile-image {
      width: 400px;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      img {
        object-fit: cover;
        width: 200px;
        height: 200px;
        border-radius: 50%;
      }
      label {
        width: 40px;
        height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        bottom: 60px;
        border: 1px solid $brand-lightgray;
        right: 45px;
        font-size: 24px;
        border-radius: 50%;
        color: $brand-gray;
        background-color: $brand-white;
      }
    }
  }
  .profile-information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .detail {
      width: 300px;
      margin-top: 20px;
      display: flex;
      flex-direction: column;
      gap: 10px;
      input {
        width: 80%;
        margin-right: 20px;
        border-radius: 5px;
      }
      .password-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input.correct {
          border-color: green;
        }
        input.wrong {
          border-color: red;
        }
      }
      h5 {
        font-weight: 600;
        color: $brand-secondary;
      }
    }
  }
  h2 {
    font-size: 24px;
    font-weight: 500;
    color: $brand-secondary;
    margin-bottom: 20px;
  }
  &-body {
    display: flex;
    gap: 100px;
  }
  hr {
    margin: 20px 0;
  }
  button.save {
    color: $brand-primary;
    border: 1px solid $brand-primary;
    background-color: $brand-primary-light;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px 15px;
  }
}

@media screen and (min-width: 576px) {
  .settings {
    &-body {
      display: flex;
      flex-wrap: wrap;
      .profile-image {
        width: 100%;
      }
      .profile-information {
        justify-content: center;
        display: flex;
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .settings {
    .profile-information {
      justify-content: center;
      display: flex;
    }
    &-body {
      display: flex;
      flex-wrap: nowrap;
    }
  }
}
