// FONT VARIABLE
$font-inter: Inter, serif;

// BRAND COLORS
$brand-primary: #36266c;
$brand-secondary: #287b22;
$brand-white: #ffffff;
$brand-lightgray: #f8f8f8;
$brand-gray: #545454;
$brand-shade: #dadada;

$brand-shadow: $brand-shade 0px 5px 10px;

.container {
  color: #287b22;
}
