.sidebar {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 305px;
  font-family: $font-stack;
  color: $brand-primary;
  background-color: $brand-white;
  border-right: 1px solid $brand-shade;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  ul {
    color: $brand-shade;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    .btn {
      height: 65px;
      display: flex;
      padding: 0 30px;
      border-radius: 50px;
      &-active {
        color: $brand-primary;
        background-color: $brand-primary-light;
      }
    }
    li {
      font-size: 20px;
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}
