.sidebar {
  padding: 30px;
  display: flex;
  flex-direction: column;
  width: 305px;
  min-height: 100vh;
  font-family: $font-stack;
  color: $brand-primary;
  background-color: $brand-primary;
  .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  ul {
    color: $brand-shade;
    width: 100%;
    display: flex;
    gap: 20px;
    flex-direction: column;
    .btn {
      height: 60px;
      display: flex;
      padding: 0 30px;
      border-radius: 50px;
      transition: all 0.5s;
      &:hover {
        color: $brand-lightgray;
        border: 1px solid $brand-lightgray;
      }
      &-active {
        color: $brand-primary;
        background-color: $brand-primary-light;
        &:hover {
          color: $brand-primary;
          border: none;
        }
      }
    }
    li {
      font-size: 20px;
      display: flex;
      gap: 20px;
      align-items: center;
    }
  }
}

h5 {
  font-size: 20px;
  font-weight: 500;
  color: $brand-secondary;
}
