# Ignore build artifacts
build/
dist/
out/
temp/
tmp/

# Ignore coverage reports
coverage/
coverage-report/

# Ignore logs and temporary files
*.log
*.swp
*.tmp
*.temp

# Ignore dependencies and node_modules
node_modules/

# Ignore specific files or directories
config/
deploy/
docs/
public/
scripts/
vendor/

# Ignore files based on extension
*.bak
*.cache
*.dat
*.db
*.exe
*.gz
*.iso
*.jar
*.json.backup
*.log.*
*.min.*
*.old.*
*.orig.*
*.stories.*
*.Stories.*
*.pyc
*.rbc
*.sass-cache
*.sqlite
*.svgz
*.tar
*.tgz
*.txt.*
*.vim
*.vscode
*.zip
