.add {
  min-height: 85vh;
  max-height: 100vh;
  height: 100%;
  background-color: $brand-lightgray;
  padding: 15px;
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: $brand-secondary;
    }
    p {
      font-size: 18px;
      display: flex;
      gap: 10px;
      span {
        font-weight: 600;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: $brand-white;
    box-shadow: $brand-shadow;
    padding: 25px;
    border-radius: 25px;
    .title {
      input {
        width: 100%;
      }
    }
    label {
      font-size: 18px;
      text-transform: capitalize;
    }
    input,
    textarea {
      width: 100%;
      border: 1px solid $brand-shade;
      display: flex;
      align-items: center;
      border-radius: 10px;
    }
    input {
      height: 40px;
    }

    // IMAGES
    .images {
      input.uploader {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &::-webkit-file-upload-button {
          text-transform: lowercase;
          font-size: 14px;
          font-weight: 400;
          width: 150px;
          height: 100%;
          color: $brand-primary;
          margin: 0;
          margin-right: 20px;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: $brand-primary-light;
        }
      }
    }

    .serving,
    .cooktime {
      width: 300px;
    }

    .category,
    .tags {
      select {
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 400;
        width: 200px;
        border: none;
        border-radius: 10px;
        color: $brand-primary;
        background-color: $brand-primary-light;
      }
    }

    .images,
    .category,
    .tags {
      &-list {
        display: flex;
        gap: 10px;
        &-item,
        picture {
          width: 150px;
          color: $brand-shade;
          position: relative;
          border: 1px solid $brand-shade;
          background-color: transparent;
          border-radius: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          button {
            display: none;
          }
          &:hover {
            button {
              color: $brand-secondary;
              display: none;
              position: absolute;
              top: -10px;
              right: -10px;
              border-radius: 50%;
              display: flex;
              align-items: center;
              justify-content: center;
              background-color: $brand-white;
              font-size: 24px;
            }
          }
        }
        picture {
          margin: 10px 0;
          height: 150px;
          img {
            border-radius: 10px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s;
            &:hover {
              filter: brightness(80%);
            }
          }
        }
      }
    }
    .post {
      margin-top: 30px;
      display: flex;
      justify-content: center;
      button {
        border-radius: 10px;
        width: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $brand-secondary;
        color: $brand-white;
        height: 50px;
      }
    }
  }
}

// INGREDIENTS
.ingredients {
  &-add {
    display: flex;
    gap: 10px;
    input::placeholder {
      color: $brand-shade;
    }
    button {
      border: 2px solid $brand-primary-light;
      color: $brand-primary;
      border-radius: 10px;
      width: 400px;
    }
  }
}

// METHODS
.methods {
  display: flex;
  flex-direction: column;
  gap: 10px;
  .method {
    width: 100%;
    &-body {
      display: flex;
      gap: 10px;
      button {
        border: 2px solid $brand-primary-light;
        color: $brand-primary;
        border-radius: 10px;
        width: 120px;
      }
    }
    textarea::placeholder {
      color: $brand-shade;
    }
  }
}
