.add {
  background-color: $brand-lightgray;
  padding: 15px;
  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: $brand-secondary;
    }
    p {
      font-size: 18px;
      display: flex;
      gap: 10px;
      span {
        font-weight: 600;
      }
    }
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: $brand-white;
    box-shadow: $brand-shadow;
    padding: 25px;
    border-radius: 25px;
    .title {
      input {
        width: 100%;
      }
    }
    label {
      font-size: 18px;
      margin-bottom: 5px;
      text-transform: capitalize;
    }
    input,
    textarea {
      width: 100%;
      border: 1px solid $brand-shade;
      display: flex;
      align-items: center;
      border-radius: 10px;
    }
    input {
      height: 40px;
    }
    .images {
      &-gallery {
        display: flex;
        gap: 10px;
        picture {
          position: relative;
          margin: 10px 0;
          width: 100px;
          height: 100px;
          img {
            border-radius: 5px;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.5s;
            &:hover {
              filter: brightness(80%);
            }
          }
          .remove {
            top: -10px;
            right: -10px;
            position: absolute;
            display: none;
            &:hover {
              display: block;
            }
          }
        }
      }
      input.uploader {
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        &::-webkit-file-upload-button {
          text-transform: lowercase;
          font-size: 14px;
          font-weight: 400;
          width: 100px;
          height: 100%;
          color: $brand-primary;
          margin: 0;
          margin-right: 20px;
          padding: 5px 10px;
          border-radius: 10px;
          background-color: $brand-primary-light;
        }
      }
    }

    .serving,
    .cooktime {
      width: 300px;
    }

    .category,
    .tags {
      select {
        text-transform: lowercase;
        font-size: 14px;
        font-weight: 400;
        width: 200px;
        border: none;
        border-radius: 10px;
        color: $brand-primary;
        background-color: $brand-primary-light;
      }
      .tag {
        font-size: 14px;
        position: relative;
        border-radius: 20px;
        padding: 5px 15px;
        color: $brand-gray;
        border: 1px solid $brand-shade;
        display: flex;
        align-items: center;
        .remove {
          position: absolute;
        }
      }
    }
  }
}
