.add {
  padding: 25px;
  &-head {
    margin: 15px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h2 {
      font-size: 28px;
      font-weight: 600;
      color: $brand-secondary;
    }
    p {
      font-size: 18px;
      display: flex;
      gap: 10px;
      align-items: center;
      span {
        font-weight: 600;
      }
    }
    width: 100%;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
