.recipe-card {
  width: 130px;
  height: 180px;
  display: flex;
  flex-direction: column;
  margin: 20px auto;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 10px;
  button.favorite {
    top: 100px;
    right: 10px;
    position: absolute;
    color: rgb(255, 80, 80);
  }
  picture {
    width: 100%;
    height: 85px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border-radius: 10px 10px 0 0;
    }
  }
  .text {
    width: 130px;
    height: 100%;
    padding: 15px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h4 {
      width: 100px;
      height: 50px;
      display: flex;
      flex-wrap: wrap;
      color: $brand-primary;
      font-size: 14px;
      line-height: 14px;
    }
    p {
      display: none;
    }
    button.more {
      width: 100%;
      display: flex;
      align-self: flex-end;
      font-size: 10px;
      color: $brand-secondary;
      font-style: italic;
    }
  }
}

@media screen and (min-width: 420px) {
  .recipe-card {
    width: 150px;
    height: 190px;
    button.favorite {
      top: 110px;
      right: 15px;
      position: absolute;
      color: rgb(255, 80, 80);
    }
  }
}

@media screen and (min-width: 576px) {
  .recipe-card {
    width: 135px;
    height: 200px;
    button.favorite {
      top: 120px;
      position: absolute;
      color: rgb(255, 80, 80);
    }
  }
}

@media screen and (min-width: 768px) {
  .recipe-card {
    width: 180px;
    height: 270px;
    button.favorite {
      font-size: 18px;
      top: 190px;
      right: 10px;
      position: absolute;
      color: rgb(255, 80, 80);
    }
  }
}

@media screen and (min-width: 820px) {
  .recipe-card {
    width: 205px;
    height: 310px;
    flex-direction: column;
    justify-content: space-between;
    picture {
      width: 100%;
      height: 190px;
    }
    button.favorite {
      font-size: 22px;
      top: 225px;
      right: 20px;
    }
    .text {
      padding: 15px 20px;
      display: flex;
      width: 100%;
      height: 100px;
      .title {
        display: flex;
        justify-content: space-between;
        h4 {
          width: 140px;
          font-size: 18px;
          line-height: 18px;
        }
        button {
          font-size: 22px;
          order: 2;
        }
      }
      button.more {
        display: flex;
        justify-content: flex-end;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .recipe-card {
    width: 250px;
    height: 380px;
    picture {
      width: 100%;
      height: 240px;
    }
    button.favorite {
      font-size: 24px;
      top: 255px;
    }
    .text {
      width: 100%;
      height: 140px;
      .title {
        h4 {
          font-size: 22px;
          line-height: 22px;
        }
        button {
          font-size: 22px;
        }
      }
      p {
        display: block;
        font-size: 10px;
      }
    }
  }
}

@media screen and (min-width: 1440px) {
  .recipe-card {
    width: 300px;
    height: 456px;
    picture {
      width: 100%;
      img {
        height: 280px;
      }
    }
    button.favorite {
      font-size: 28px;
      top: 295px;
    }
    .text {
      width: 100%;
      height: 176px;
      .title {
        h4 {
          font-size: 20px;
          font-weight: 500;
        }
        button {
          font-size: 24px;
        }
      }
      p {
        font-size: 14px;
      }
    }
  }
}
