.recipes {
  &-filter {
    display: none;
    width: 300px;
  }
  &-list {
    padding-left: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    .recipeCard {
      margin: 0;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }
  }
}

@media screen and (min-width: 576px) {
}
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 992px) {
  .recipes {
    &-filter {
      display: block;
    }
    .dropfilter {
      display: none;
    }
  }
}
@media screen and (min-width: 1200px) {
}
@media screen and (min-width: 1440px) {
}
